* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

#days > div {
  border: 1px solid black;
  width: 7rem;
  height: 5rem;
}

.days-of-the-week {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-entry-button {
  margin-top: 2rem;
}

.modal {
  width: 50rem;
  height: 20rem;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 250px;
  z-index: 2;
}

.hidden {
  display: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}

textarea {
  resize: none;
  height: 7rem;
  width: 25rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
