* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

#days > div {
  border: 1px solid black;
  width: 7rem;
  height: 5rem;
}

.days-of-the-week {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-entry-button {
  margin-top: 2rem;
}
